@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
html {
  height: 100%;
  width: 100%;
}
.serialButton {
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  text-transform : uppercase;
}
/* morse stuff */
input{
  font-size: 3rem;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  border: none;
  border-bottom: 2px black solid;
  width: auto;
}
#morseOut {
  margin-right: 3rem;
  font-size: 3rem;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
}
.inpContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10vh;
}
.lighter {
  background-color: #FFF;
}

input:focus{
  outline: 0;
  border-bottom: solid 2px black;
}
/* morse stuff */


/* modal */
.modal {
  font-family: 'DotGothic16', sans-serif;
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  font-family: 'DotGothic16', sans-serif;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 80%;
}

.close {
  font-family: 'DotGothic16', sans-serif;
  color: #000;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #888;
}

/* modal */
